<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/public/static/Styles.css" />
  </head>
  <body>
    <section class="page">
      <h1>Budget Tracker</h1>

      <form id="login-form">
        <input type="email" id="email" placeholder="Email" />
        <input type="password" id="password" placeholder="Password" />
        <button type="submit">Login</button>
      </form>
      <a id="create-link" href="#">Create Account</a>
      <a id="forgot-link" href="#">Forgot Password?</a>
    </section>

    <script>
      const loginForm = document.getElementById("login-form");

      loginForm.addEventListener("submit", function (event) {
        event.preventDefault(); // prevent default form submission aka reloading the page

        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        const loginData = {
          email: email,
          password: password,
        };

        // Convert to JSON and send to backend
        fetch("/api/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(loginData),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Login response:", data);
          })
          .catch((error) => {
            console.error("Error logging in:", error);
          });
      });
    </script>
  </body>
</html>
